__pycache__/
*.py[cod]
.DS_Store
.idea/
.vscode/
.venv/
env/

checkpoints/*
!checkpoints/.gitkeep
data/*
!data/.gitkeep
logs/*
!logs/.gitkeep
outputs/
videos/
wandb/
*.pt
*.pth
*.ckpt
*.safetensors
.afs_runtime_config.yaml
